<%= form_with model: [:seller, product] do |f| %>
  <% if product.errors.any? %>
    <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :name, 'Название' %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :status, 'Статус' %>
    <%= f.select :status, Product.statuses.keys.map { |s| [s.humanize, s] } %>
  </div>

  <div>
    <%= f.label :category_id, 'Категория' %>
    <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: 'Без категории' %>
  </div>

  <div>
    <%= f.label :description, 'Описание' %>
    <%= f.rich_text_area :description %>
  </div>

  <div>
    <%= f.label :thumbnail, 'Фото' %>
    <%= f.file_field :thumbnail, accept: 'image/*' %>
    <% if product.thumbnail.attached? %>
      <%= image_tag product.thumbnail, style: 'max-width: 200px' %>
    <% end %>
  </div>

  <h3>Характеристики</h3>
  <div data-controller="specifications">
    <div data-specifications-target="container">
      <% product.specifications.each do |key, value| %>
        <div class="spec-row">
          <span><%= key %></span>
          <%= text_field_tag "product[specifications][#{key}]", value, placeholder: 'Значение' %>
          <button type="button" data-action="click->specifications#removeRow">Удалить</button>
        </div>
      <% end %>
    </div>
    <button type="button" data-action="click->specifications#addRow">+ Добавить характеристику</button>
  </div>

  <% if product.variants.any? %>
    <h3>Варианты</h3>
    <table>
      <thead>
        <tr>
          <th>SKU</th>
          <th>Опции</th>
          <th>Цена</th>
          <th>Остаток</th>
          <th>Статус</th>
        </tr>
      </thead>
      <tbody>
        <%= f.fields_for :variants do |vf| %>
          <tr>
            <!-- vf obj. - HTML form builder  -->
            <td><%= vf.object.sku %></td>
            <td><%= vf.object.option_summary %></td>
            <td><%= vf.number_field :price, step: 0.01, min: 0 %></td>
            <td><%= vf.number_field :stock, step: 1, min: 0 %></td>
            <td><%= vf.select :status, %w[active inactive] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <%= f.submit %>
<% end %>
